div#header {
  padding: 32px 0px 32px 0px;
}

div#repos, div#repo {
  margin-top: -1rem;
}

div.repo {
  min-height: 110px;
}

div#repos-repo-template,
div#repo-scenario-template,
div#repo,
div#repo-template {
  display: none;
}

div.repo-job div pre {
  white-space: pre-wrap;
}
